<h2>Image Selection</h2>
<h3>Select three memorable images</h3>

<div id="row1">
<%= image_tag("mem_images/ape.png", alt: "Image 1", height: "150", width:"150")%>
<%= image_tag("mem_images/aquarium.png", alt: "Image 2", height: "150", width:"150")%>
<%= image_tag("mem_images/ball_pit.png", alt: "Image 3", height: "150", width:"150")%>
</div>
<div id="row2">
<%= image_tag("mem_images/books.png", alt: "Image 4", height: "150", width:"150")%>
<%= image_tag("mem_images/bowling_balls.png", alt: "Image 5", height: "150", width:"150")%>
<%= image_tag("mem_images/inside_louvre.jpg", alt: "Image 6", height: "150", width:"150")%>
</div>
<div class="picker">
<select class="image-picker show-html" data-limit="2" multiple="multiple">
  <option data-img-src="/assets/mem_images/bowling_balls.png" value="1">Cute Kitten 1</option>
  <option data-img-src="http://placekitten.com/180/200" value="2">Cute Kitten 2</option>
  <option data-img-src="http://placekitten.com/130/200" value="3">Cute Kitten 3</option>
  <option data-img-src="http://placekitten.com/270/200" value="4">Cute Kitten 4</option>
</select>
  <div class="picker">
    <ul class="thumbnails image_picker_selector">
      <li>
        <div class="thumbnail">
          <img class="image_picker_image" src="/assets/mem_images/bowling_balls.png">
        </div>
      </li>
    </ul>
  </div>
  
</div>