<% @page_title = "Kumquat | Signup" %>
<h1>Sign Up</h1>
<h3>Fill in the form below to get started with Kumquat.</h3>

<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form', :f => f %>
  <%= render 'image_selection' %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', users_path %>
